.top-of-page {
    display: flex;
    
}

.middle-of-page {
    display: flex;
    justify-content: space-evenly;
}

.bottom-of-page {
    display: flex;

}

.left {
    width: 50%;
    margin-left: 4rem;

}

.right {
    width: 50%;
    margin: 4rem;
}
.mainLogo{
    height: 337px; 
    width: 354px;
   
    }