.header-of-page {
    display: flex;
    flex-wrap: wrap;
}

.post-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



    
.Upload-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the section cover the entire viewport height */
}

.Upload-photo > div {
    font-size: 24px; /* Set the font size of the text */
    text-align: center; /* Center the text horizontally */
    margin-bottom: 70px; /* Add some bottom margin for spacing */
}

.Upload-photo button {
    font-size: 18px; /* Set the font size of the button */
}

.post-photo img {
    width: calc(33.3% - 20px);
    max-width: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);

}


.post-photo img:hover {
    transform: scale(1.01); /* Apply scaling only to the hovered image */
    cursor: pointer;
}