.header-of-page {
    display: flex;
    flex-wrap: wrap;
}
.button-photo{
   margin-top: 5rem;
}
.middle{
    font-size: large;
    
}
.form-group {
    margin-bottom: 20px; /* Add margin between form elements */
}

.middle {
    width: 40%;
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}