:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}
input[type="text"],
input[type="email"],
input[type="password"] 
input[type="url"] {
    /* Specify the desired styles for your input boxes */
    background-color: white; /* Change background color to white */
    color: black; /* Change text color to black */
    /* Add any other styles as needed */
}

a {
  font-weight: 800;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #f89a9a; 
} 
/* @todo change color */

/* :root {
  min-height: auto;
  min-width: 1265px;
  background-image: url('src/components/logos/background.jpg');
  background-color: rgba(255, 255, 255, 0.5); 
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 300px;
  
} */
body{
  height: 97vh;

}

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fac70e;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 5px 5px 5px hwb(33 42% 2% / 0.624);
  }

  button:hover {
    border-color: #0d0d08;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  /* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */